<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <table>
        <% data.forEach(function(year,V_NV){ %>
        <tr>
            <td><%= name[i] %></td>
            <td><%= year[i] %></td>
            <td><%= V_NV[i] %></td>
        </td>
    </table>
  </body>
</html>